<h2>Enter the url you'd like to shorten:</h2>
<form action='/url' method='post'>
<input type='text' name='url'>
<input type='submit' value='submit'>
</form>

<p>Any links created earlier in this session will appear below. Add the 8-letter identifier to this page's URL to find what you're looking for.</p>

<ul>
  <% Shortener.display_urls.each do |short_url, long_url| %>
    <li> <%= short_url %>: <a href=<%= long_url %> target='_blank'><%= long_url %></a></li>
  <% end %>
</ul>